/* Estilos generales para el body */
body {
  font-family: "Afacad Flux", sans-serif;
  margin: 0; /* Elimina el margen por defecto */
  padding: 0; /* Elimina el padding por defecto */
  background-color: #f4f4f4;
  width: 100%; /* Asegura que el body ocupe el 100% del ancho */
}

/* Ajuste del contenedor main */
main {
  max-width: 100%;
  margin-top: 50px; /* Espacio superior para el header */
  padding: 20px;
  box-sizing: border-box; /* Asegura que el padding no sobresalga */
  overflow: hidden; /* Evita el scroll en el contenido principal */
}

/* Estilo para el header */
header {
  position: sticky; /* Hace que el header se quede fijo al hacer scroll */
  top: 0; /* Se pega al top cuando haga scroll */
  left: 0; /* Alineación al lado izquierdo */
  max-width: 100%; /* Asegura que ocupe todo el ancho */
  background-color: white;
  z-index: 1000; /* Asegura que el header quede encima del contenido */
  color: black;
  padding: 15px 40px; /* Espaciado interno */
  display: flex; /* Usamos flexbox para distribuir los elementos */
  justify-content: space-between; /* Espacio entre logo y menú */
  align-items: center; /* Alinea los elementos en el centro verticalmente */
  transition: box-shadow 0.25s ease-in-out; /* Transición suave para la sombra */
}

/* Sin box-shadow cuando está en la parte superior */
header.no-shadow {
  box-shadow: none;
}

/* Con box-shadow visible cuando se hace scroll */
header.with-shadow {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Estilo para el logo */
header .logo {
  padding-left: 60px;
  text-decoration: none;
}
header .logo a {
  text-decoration: none;
}

header .logo p {
  font-size: 40px;
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
  color: black;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

header .logo p:hover {
  color: #4eb8f8; /* Cambio de color al pasar el mouse */
  transform: scale(1.1); /* Hace que el logo se agrande un poco */
  transition: all 0.2s ease-in-out; /* Transición suave para todos los cambios */
}

nav {
  margin: 0 auto; /* Centra el nav */
  padding: 0;
  padding-right: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Alinea el menú a la derecha */
  width: 100%;
}

/* Estilo para la lista de navegación (ul) */
nav ul {
  list-style: none; /* Elimina los puntos de la lista */
  margin: 10px;
  padding: 0;
  display: flex;
  gap: 25px;
}

/* Estilo para los links en el menú */
nav ul li a {
  font-weight: bold;
  color: rgb(47, 47, 47);
  text-decoration: none;
  font-size: 22px;
  transition: color 0.3s, font-size 0.3s;
}

/* Estilo para los links cuando están activos */
nav ul li a.active {
  color: #4caf50; /* Color para el enlace activo (resaltado) */
  font-size: 24px; /* Puedes cambiar el tamaño si quieres que el enlace activo sea más grande */
}

nav ul li a:hover {
  color: #4eb8f8;
}

/* Estilo para la sección main */
main {
  max-width: 100%;
  margin-top: 50px; /* Espacio superior para el header */
  padding: 20px; /* Espaciado interno */
}

/*Estilos para la sección de mi cv */
.i_am {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 70px 200px 70px; /* Espacio superior e inferior */
  background-color: white;
  align-items: center; /* Alinea verticalmente al centro */
  text-align: center; /* Centra el texto */
  line-height: 1.5; /* Espaciado entre líneas */
}

.i_am img {
  width: 300px; /* Ancho de la imagen */
  height: auto; /* Mantiene la proporción de la imagen */
  border-radius: 15px; /* Hace que la imagen sea circular */
  margin-right: 50px; /* Espacio entre la imagen y el texto */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}

/* Estilo para el id "saludo" */
.i_am .saludo {
  font-size: 30px;
  margin: 0;
  letter-spacing: 2px;
  padding-left: 15px;
  text-align: left;
}

/* Estilo para el id "name" */
.i_am .name {
  font-size: 30px;
  color: #4eb8f8;
  font-weight: bold;
  margin: 0;
  padding-left: 15px;
  text-align: left;
}

/* Estilo para el id "description" */
.i_am .description {
  font-size: 18px;
  color: #333;
  line-height: 1.6;
  margin-top: 25px;
  text-align: left;
}

.welcome {
  justify-content: center;
  margin: 20px 20px 74px 20px;
  padding: 0 100px;
  text-align: center;
}

.welcome h1 {
  font-size: 60px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: #4eb8f8;
}

.welcome p {
  font-size: 20px;
  margin: 0px;
  color: #333;
  line-height: 1.6;
  text-align: center;
}

.welcome .btn {
  display: flex;
  margin: 20px auto; /* Centra el botón */
  padding: 10px 20px; /* Espaciado interno */
}

/* Estilos para los contenedores de las secciones */
.contacto {
  padding: 20px;
  margin: 20px 0 20px;
  max-width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box; /* Asegura que el padding no sobresalga */
}

/* Estilo para el título en .puesto */
.contacto h2 {
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}

/* Estilo para el párrafo en .puesto */
.contacto p {
  font-size: 20px;
  margin: 0;
}

.social_icons {
  padding: 20px;
  display: flex;
  justify-content: center; /* Centra los íconos horizontalmente */
  gap: 20px; /* Espacio entre los íconos */
}

.social_icons ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none; /* Elimina los puntos de lista */
}

.social_icons ul li {
  display: inline-block;
  margin: 0 10px; /* Espacio entre los íconos */
  padding: 0;
}

.social_icons a {
  font-size: 30px;
  color: black;
  transition: color 0.3s;
}

.social_icons a:hover {
  color: #4eb8f8; /* Cambio de color al pasar el mouse */
}

.btn {
  display: flex; /* Usamos flexbox para centrar el botón */
  justify-content: center; /* Centra el contenido del botón */
  border-radius: 15px;
  text-decoration: none;
  font-weight: bold;
  background-color: #4eb8f8;
  color: whitesmoke;
  width: 10%;
  height: auto;
  padding: 10px;
  margin: 0;
}

.btn:hover {
  background-color: #4e4ef8; /* Cambio de color al pasar el mouse */
  color: white;
  transform: scale(1.035); /* Hace que el botón se agrande un poco */
}

/*Estilos para la sección de experience */
#experience,
#skills,
#proyectos,
#edu,
#lenguaje {
  margin: 20px 88px;
  padding: 24px 24px 45px; /* Espacio superior e inferior */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra el contenido */
  box-sizing: border-box; /* Asegura que el padding no sobresalga */
  text-align: left; /* Centra el texto */
  background-color: white;
  border-radius: 15px; /* Bordes redondeados */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}

.text-cont {
  margin: 0 24px;
  width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center; /* Centra el contenido */
  display: flex;
  padding: 24px; /* Espacio superior e inferior */
  text-align: center; /* Centra el texto */
  line-height: 1.5; /* Espaciado entre líneas */
}

.text-cont h1 {
  font-size: 46px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  width: max-content;
  align-items: center;
}

.line {
  background-color: #4eb8f8;
  margin: 0 568px 0;
  border-radius: 15px;
  width: 100px;
  height: 5px;
}

.the_work,
.the_school {
  margin: 30px 0;
  padding: 0;
  width: 100%;
  display: flex;
}

.work,
.school {
  margin: 0 40px 0 40px;
  padding: 24px;
  width: 100%;
  flex-direction: row;
  box-shadow: #333 0 0 2px;
  border-radius: 15px; /* Bordes redondeados */
}

.work i {
  margin: 5px;
  padding: 0;
}

.work h3,
.school h3 {
  margin: 0;
  padding: 0;
}

.the_work .line_time,
.the_school .line_time {
  margin: auto 40px;
  padding: 0;
  width: 5px;
  height: 240px;
  background-color: black;
  border-radius: 15px;
}

.work:hover,
.school:hover {
  transform: scale(1.01); /* Hace que el contenedor se agrande un poco */
  transition: all 0.2s ease-in-out; /* Transición suave para todos los cambios */
  box-shadow: #4eb8f8 0 0 5px; /* Sombra azul al pasar el mouse */
}

.mini_nav {
  display: flex;
  justify-content: center;
  margin: 5px 0;
  padding: 5px 0;
  justify-content: space-between;
  text-decoration: none;
}

/* Estilo para seccion de skills*/
.skill_3-3,
.pro_3-3 {
  margin: 10px;
  padding: 0;
  flex-direction: column * 3;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan */
  justify-content: center;
  display: flex;
  gap: 20px; /* Espacio entre los elementos */
}

.skill,
.proye {
  margin: 0;
  padding: 20px;
  width: 25%;
  box-shadow: #333 0 0 2px;
  border-radius: 15px; /* Bordes redondeados */
}

.skill:hover,
.proye:hover {
  transform: scale(1.01); /* Hace que el contenedor se agrande un poco */
  transition: all 0.2s ease-in-out; /* Transición suave para todos los cambios */
  box-shadow: #4eb8f8 0 0 5px; /* Sombra azul al pasar el mouse */
}

.school h3,
.school h2 {
  font-weight: bold;
  margin: 0;
  padding-left: 10px;
  align-self: center;
}

.school p {
  margin: 0;
  padding: 10px 10px 0 10px;
  align-self: center;
}

.mini_nav h4,
.date_school,
.date_work {
  margin: 0;
  padding-right: 20px;
  align-content: center;
  font-size: 17px;
}

/*Estilo para la sección de idiomas */
.idioma_2_2 {
  padding: 30px;
  margin: 0;
  flex-direction: column * 2;
  display: flex;
  justify-content: center;
  gap: 70px; /* Espacio entre los elementos */
}

.idioma {
  margin: 20px;
  padding: 15px 30px;
  box-sizing: border-box; /* Asegura que el padding no sobresalga */
  border-radius: 15px; /* Bordes redondeados */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}

.idioma:hover {
  transform: scale(1.02); /* Hace que el contenedor se agrande un poco */
  transition: all 0.2s ease-in-out; /* Transición suave para todos los cambios */
}

.idioma .percentage {
  padding: 0;
  margin: 5px;
  flex-direction: column * 5;
  display: flex;
  justify-content: center;
  align-items: center; /* Centra el contenido */
  gap: 7px; /* Espacio entre los elementos */
  text-align: center; /* Centra el texto */
}

.idioma .percentage .circle_b {
  background-color: #4eb8f8;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: flex;
  border: 1px solid #333;
}

.idioma .percentage .circle_w {
  border-color: #333;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  border: 1px solid #333;
}

.idioma p,
.idioma h2 {
  margin: 0;
  padding: 0;
}

/* Estilos para el footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 40px;
  margin: 0;
  position: relative;
  bottom: 0;
  max-width: 100%;
}
