/* Definir Variables Globales */
:root {
  --background-color: #fff;
  --text-color: #1f2937; /* Color de texto (Negro) */
  --text-light-color: #4a4949;
  --text-decoration-color: #4eb8f8;
  --btn-color: #4caf50;
  --line-color: #1f2937;
  --shadow-color: #6b6b6b;
  --light-color: #eeeeee; /* Color de fondo claro */
  
  --font-family: "Afacad Flux", sans-serif; /* Fuente personalizada */
}
:root[data-theme="dark"] {
  --background-color: #1f2937;
  --text-color: #f0f1f2;
  --text-light-color: #cacbcd;
  --text-decoration-color: #4eb8f8;
  --btn-color: #4caf50;
  --line-color: #ffffff;
  --shadow-color: #121212;
  --light-color: #2c3440;
}


/* Estilos Generales */
* {
  margin: 0; /* Elimina el margen por defecto */
  padding: 0; /* Elimina el padding por defecto */
  box-sizing: border-box; /* Asegura que el tamaño de los elementos se calcule correctamente */
}

/* Configuración del HTML */
html {
  scroll-behavior: smooth; /* Desplazamiento suave */
  font-size: 100%; /* Asegura un tamaño de fuente base */
}

/* Estilo para el body */
body {
  font-family: var(--font-family); /* Usando la variable de fuente */
  background-color: #1f2937;
  /*background-color: var(
    --background-color
  ); /* Color de fondo usando la variable */
  color: var(--text-color); /* Color de texto usando la variable (Negro) */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: clamp(1rem, -0.25rem + 3.333vw, 2.75rem);
}

/* Ajuste del contenedor main */
main {
  max-width: 100%;
  padding: 20px;
  box-sizing: border-box; /* Asegura que el padding no sobresalga */
  overflow: hidden; /* Evita el scroll en el contenido principal */
  background-color: var(--light-color);
  border-radius: 0 0 50px 50px ;
  z-index: 2;
}

/* Estilo para el header */
header {
  position: sticky; /* Hace que el header se quede fijo al hacer scroll */
  top: 0; /* Se pega al top cuando haga scroll */
  left: 0; /* Alineación al lado izquierdo */
  right: 0;
  max-width: 100%; /* Asegura que ocupe todo el ancho */
  z-index: 5; /* Asegura que el header quede encima del contenido */
  color: var(--text-color);
  background-color: var(--background-color);
  padding: 15px 40px; /* Espaciado interno */
  display: flex; /* Usamos flexbox para distribuir los elementos */
  justify-content: space-between; /* Espacio entre logo y menú */
  align-items: center; /* Alinea los elementos en el centro verticalmente */
  transition: box-shadow 0.25s ease-in-out; /* Transición suave para la sombra */
}

/* Sin box-shadow cuando está en la parte superior */
header.no-shadow {
  box-shadow: none;
}

/* Con box-shadow visible cuando se hace scroll */
header.with-shadow {
  background-color: var(--background-color);
  box-shadow: 0 1px 5px var(--shadow-color); /* Sombra sutil */
}

/* Estilo para el logo */
header .logo {
  padding-left: 60px;
  position: absolute; /* Fija el logo en su lugar */
  left: 0;
}
header .logo a {
  text-decoration: none;
}

header .logo p {
  font-size: clamp(1rem, -0.25rem + 8.333vw, 2.75rem);
  color: var(--text-color);
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

header .logo p:hover {
  color: var(--text-decoration-color); /* Cambio de color al pasar el mouse */
  transition: all 0.2s ease-in-out;
  transform: scale(1.1); /* Hace que el logo se agrande un poco */
}

#nav-list {
  display: flex;
  justify-content: center;
  gap: 25px;
}
#nav-list ul li{
  display: flex;
  justify-content: center;
}

#nav-list li a {
  display: flex;
  align-items: center; /* Alinea el icono y el texto verticalmente */
  font-weight: bold;
  color: var(--text-color);
  text-decoration: none;
  font-size: clamp(1rem, 0rem + 122.222vw, 1.222rem);
  transition: all color 0.3s ease;
}
#nav-list li a:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.05);
  color: var(--btn-color);
}
#nav-list li a i {
  margin-right: 8px; /* Espacio entre el icono y el texto */
  font-size: clamp(1rem, 0rem + 122.222vw, 1.222rem);
}
/* Menú hamburguesa oculto en pantallas grandes */
.menu-toggle {
  display: none;
}
/* Menú principal (pantallas grandes) */
nav {
  display: flex;
  justify-content: flex-end; /* Alinea el menú a la derecha */
  width: 100%;
  height: auto;
  padding: 0;
}
/* Estilo para la lista de navegación (ul) */
nav ul {
  list-style: none; /* Elimina los puntos de la lista */
  align-items: center;
  margin: 0px;
  display: flex;
  gap: 25px;
}
/* Estilo cuando el menú está en modo desplegado */
nav ul.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px; /* Ajusta la posición según el header */
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
nav ul.active .fa-bars {
  display: none; /* Oculta el icono de hamburguesa cuando el menú está abierto */
}
nav ul.active .fa-times {
  display: block; /* Muestra el icono de la "X" cuando el menú está abierto */
}
/* Estilo para los links en el menú */
nav ul li a {
  align-items: center; 
  display: flex;
  font-weight: bold;
  color: var(--text-color);
  text-decoration: none;
  font-size: clamp(0.889rem, 0rem + 122.222vw, 1.222rem);
  transition: color 0.3s, font-size 0.3s;
}
/* Estilo para los links cuando están activos */
nav ul li a.active {
  color: var(--btn-color); /* Color para el enlace activo (resaltado) */
  font-size: clamp(0.889rem, 0rem + 122.222vw, 1.222rem); /* Puedes cambiar el tamaño si quieres que el enlace activo sea más grande */
}
nav ul li a:hover {
  transition: all 0.2s ease-in-out;
  color: var(--btn-color);
}
/* El ícono de hamburguesa se muestra por defecto */
.fas.fa-bars {
  display: block;
}
/* El ícono de la "X" se oculta por defecto */
#close-icon {
  display: none;
}

#theme-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--text-color);
  transition: color 0.3s ease;
}
#theme-toggle i {
  transition: opacity 0.3s ease, transform 0.3s ease;
  display: inline-block;
}
#theme-toggle i.fade-out {
  opacity: 0;
  transform: rotate(360deg) scale(0.7);
}
#theme-toggle:hover {
  color: var(--btn-color);
}

/*Estilos para la sección de mi cv */
.i_am {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  padding: 50px 200px 75px; /* Espacio superior e inferior */
  background-color: var(--background-color);
  align-items: center; /* Alinea verticalmente al centro */
  text-align: center; /* Centra el texto */
  line-height: 1.5; /* Espaciado entre líneas */
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.i_am img {
  width: 300px; /* Ancho de la imagen */
  height: auto; /* Mantiene la proporción de la imagen */
  border-radius: 15px; /* Hace que la imagen sea circular */
  margin-right: 50px; /* Espacio entre la imagen y el texto */
  box-shadow: 0 2px 5px var(--shadow-color); /* Sombra sutil */
  z-index: 1;
}



/* Estilo para el id "saludo" */
.i_am .saludo {
  font-size: clamp(1.389rem, 0rem + 122.222vw, 1.667rem);
  letter-spacing: 2px;
  padding-left: 15px;
  text-align: left;
  margin: 0;
}

/* Estilo para el id "name" */
.i_am .name {
  font-size: clamp(1.389rem, 0rem + 122.222vw, 1.667rem);
  color: var(--text-decoration-color);
  font-weight: bold;
  padding-left: 15px;
  text-align: left;
  width: auto;
  height: 40px;
}
.typed-cursor {
  display: none;
}

.i_am_text {
  justify-content: center; /* Centra verticalmente el texto */
  align-items: flex-start; /* Alinea el texto a la izquierda */
  padding: 50px 20px 0 20px ; /* Espacio superior e inferior */
  width: 100%; /* Ocupa todo el ancho disponible */
}
/* Estilo para el id "description" */
.i_am_text .description {
  font-size: clamp(0.8125rem, 0.4219rem + 1.25vw, 1.125rem);
  color: var(--text-light-color);
  line-height: 1.6;
  margin-top: 25px;
  text-align: left;
}

.welcome {
  justify-content: center;
  margin: 80px 20px 75px 20px;
  padding: 20px 100px;
  text-align: center;
  line-height: 1.5; /* Espaciado entre líneas */
}

.welcome h1 {
  font-size: clamp(1.25rem, -0.6466rem + 9.4828vw, 4.6875rem);
  font-weight: bold;
  line-height: 1;
  color: var(--text-decoration-color);
  margin-bottom: 30px;
}

.welcome p {
  font-size: clamp(0.875rem, 0.7371rem + 0.6897vw, 1.125rem);
  color: var(--text-light-color);
  line-height: 1.6;
  text-align: center;
  padding:  0 20px 0 20px;
}

.welcome .btn {
  font-size: clamp(1rem, 0.6875rem + 1vw, 1.25rem);
  margin: 20px; /* Centra el botón */
  padding: 10px 20px; /* Espaciado interno */
}
/* Estilos para los contenedores de las secciones */
#contacto {
  padding: 50px;
  margin: 20px 0;
  max-width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box; /* Asegura que el padding no sobresalga */
}

/* Estilo para el título en .puesto */
#contacto h1 {
  font-size: clamp(1.75rem, 0.6466rem + 5.5172vw, 3.75rem);
  font-weight: bold;
}

/* Estilo para el párrafo en .puesto */
#contacto p {
  font-size: clamp(1rem, 0.6875rem + 1vw, 1.25rem);
  padding-top: 25px;
}

.social_icons {
  padding: 20px;
  display: flex;
  justify-content: center; /* Centra los íconos horizontalmente */
  gap: 20px; /* Espacio entre los íconos */
}

.social_icons ul {
  list-style: none; /* Elimina los puntos de lista */
}

.social_icons ul li {
  display: inline-block;
  margin: 0 10px; /* Espacio entre los íconos */
  z-index: 4;
}

.social_icons a {
  font-size: 30px;
  color: var(--text-color);
  transition: color 0.3s;
}

.social_icons i:hover {
  color: var(--btn-color); /* Cambio de color al pasar el mouse */
  transform: scale(1.2); /* Hace que el ícono se agrande un poco */
  transition: all 0.2s ease-in-out; /* Transición suave para todos los cambios */
}

.btn-container {
  display: flex;
  justify-content: center;
  margin: 20px 0 10px;
  position: relative;
  z-index: 4;
}

.btn-container .btn {
  padding: 12px 24px;
  overflow: hidden;
  font-size: clamp(0.8125rem, 0.4219rem + 1.25vw, 1.125rem);
}

.btn {
  display: inline-block;
  background: var(--text-decoration-color);
  color: var(--background-color);
  border-radius: 50px;
  text-decoration: none;
  overflow: hidden;
  z-index: 4;
  transition: background 0.3s ease;
  font-weight: bold;
  position: relative;
}

.btn:hover {
  transition: all 0.2s ease-in-out;
  background: var(--btn-color);
  color: var(--background-color);
}

/*Estilos para la sección de experience */
#experience,
#skills,
#tech,
#proyectos,
#edu,
#lenguaje {
  margin: 20px 88px;
  padding: 24px 24px 45px; /* Espacio superior e inferior */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra el contenido */
  box-sizing: border-box; /* Asegura que el padding no sobresalga */
  text-align: left; /* Centra el texto */
  background-color: var(--background-color);
  border-radius: 15px; /* Bordes redondeados */
  box-shadow: 2px 2px 5px var(--shadow-color); /* Sombra sutil */
}

.work li,
.skill p,
.school p,
.idioma p {
  color: var(--text-light-color);
  font-size: clamp(0.8125rem, 0.4219rem + 1.25vw, 1.125rem);
}

.text-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; /* Centra el texto */
  line-height: 1.5; /* Espaciado entre líneas */
  width: 100%;
  margin: 0 24px;
  padding: 24px; /* Espacio superior e inferior */
}

.text-cont h1 {
  font-size: clamp(1.75rem, 0.3438rem + 4.5vw, 2.875rem);
  font-weight: bold;
  width: max-content;
  align-items: center;
}

.line {
  background-color: var(--text-decoration-color);
  margin: 0 568px 0;
  border-radius: 15px;
  width: 100px;
  height: 5px;
}

.the_work,
.the_school {
  margin: 30px 0;
  width: 100%;
  display: flex;
}

.work,
.school {
  margin: 0 40px 0 40px;
  padding: 24px;
  width: 100%;
  flex-direction: row;
  box-shadow: var(--shadow-color) 0 0 2px;
  border-radius: 15px; /* Bordes redondeados */
  transition: all 2s ease-n-iout;
}

.school h3,
.work h3 {
  font-size: clamp(0.8125rem, 0.2656rem + 1.75vw, 1.25rem);
}

.work i {
  margin: 5px;
}

.work ul {
  padding-left: 24px;
}

.the_work .line_time,
.the_school .line_time {
  margin: auto 40px;
  width: 5px;
  height: 240px;
  background-color: var(--line-color);
  border-radius: 15px;
}

.work:hover,
.school:hover {
  transform: scale(1.02); /* Hace que el contenedor se agrande un poco */
  box-shadow: var(--shadow-color) 0 0 5px; 
  transition: all 0.2s ease-in-out;
}

/* Estilo para seccion de skills*/
.skill_3-3,
.pro_3-3 {
  display: flex;
  justify-content: center;
  flex-direction: column * 3;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan */
  margin: 10px;
  gap: 20px; /* Espacio entre los elementos */
  width: 100%;
  padding: 20px 0;
}

.skill,
.proye {
  padding: 20px;
  width: 30%;
  box-shadow: var(--shadow-color) 0 0 2px;
  border-radius: 15px; /* Bordes redondeados */
}

.skill:hover,
.proye:hover,
.tech:hover {
  transform: scale(1.05); /* Hace que el contenedor se agrande un poco */
  box-shadow: var(--shadow-color) 0 0 5px;
  transition: all 2.5s ease-in-out;
  }

.skill_3-3 .skill p {
    font-size: clamp(0.875rem, 0.7188rem + 0.5vw, 1rem); /* Tamaño de fuente más pequeño */
    line-height: 1.5;
    padding-top: 10px;
  }

  .skill_3-3 .skill h2 {
    font-size: 20px; /* Tamaño de fuente más pequeño */
    line-height: 1.1;
    width: 100%;
    height: 50px;
    align-content: center;
  }

.tech-bars {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan */
  gap: 10px;
  padding: 30px 0;
}
.tech {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box; /* Asegura que el padding no sobresalga */
  border-radius: 15px; /* Bordes redondeados */
  box-shadow: var(--shadow-color) 0 0 2px;
  margin: 10px;
  padding: 15px;
}

.tech h3 {
  color: var(--text-color);
  text-align: center;
  font-size: clamp(0.8125rem, 0.4219rem + 1.25vw, 1.125rem);
}
.tech-used {
  margin: 18px 0 15px 0;
  font-size: 24px;
  color: var(--text-color);
}
.tech-used i {
  margin: 0 10px;
}

.school h3,
.school h2 {
  font-weight: bold;
  padding-left: 10px;
  align-self: center;
}

.school p {
  padding: 10px 10px 0 10px;
  align-self: center;
}

.mini_nav h4,
.date_school,
.date_work {
  padding-right: 20px;
  align-content: center;
  color: var(--text-decoration-color);
}

.mini_nav {
  display: flex;
  justify-content: center;
  margin: 5px 0;
  padding: 5px 0;
  justify-content: space-between;
  text-decoration: none;
}
.mini_nav h2 {
    font-size: clamp(0.9375rem, 0.3906rem + 1.75vw, 1.375rem);
    line-height: 1.1;
    width: 80%;
    height: 50px;
    align-content: center;
    padding: 0; /* Espacio interno */
  }
.mini_nav h4{
  font-size: clamp(0.875rem, 0.5625rem + 1vw, 1.125rem); /* Tamaño de fuente más pequeño */
  width: 100%;
}

/*Estilo para proyectos*/
.proye {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: var(--background-color);
  overflow: hidden;
  padding: 40px 20px 40px 20px;
}
.proye img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}
.proye h3 {
  font-size: clamp(0.9375rem, 0.5469rem + 1.25vw, 1.25rem);
  margin: 10px 0;
  color: var(--text-decoration-color);
}
.proye p {
  font-size: 15px;
  color: var(--text-light-color);
  margin-bottom: 15px;
}
.proye .btn-pro {
  padding: 10px 20px;
  justify-content: center;
}

.btn-pro {
  font-size: clamp(0.8125rem, 0.4219rem + 1.25vw, 1.125rem);
  padding: 8px 16px;
  margin: 0;
  background-color: var(--btn-color);
  color: white;
  border-radius: 30px;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  width: 50%;
}

/*Estilo para la sección de idiomas */
.idioma_2_2 {
  display: flex;
  justify-content: center;
  flex-direction: column * 2;
  padding: 30px;
  gap: 70px;
}
.idioma {
  margin: 20px;
  padding: 15px 30px;
  box-sizing: border-box; /* Asegura que el padding no sobresalga */
  border-radius: 15px; /* Bordes redondeados */
  box-shadow: var(--shadow-color) 0 0 2px;
}
.idioma:hover {
  transform: scale(1.05); /* Hace que el contenedor se agrande un poco */
  transition: all 0.2s ease-in-out; /* Transición suave para todos los cambios */
  box-shadow: var(--shadow-color) 0 0 5px;
}
.idioma h2{
  text-align: center;
  font-size: clamp(0.8125rem, 0.1094rem + 2.25vw, 1.375rem);
}
.idioma p {
  text-align: center;
  font-size: clamp(0.8125rem, 0.4219rem + 1.25vw, 1.125rem);
}
.barra {
  width: 120px;
  height: 120px;
  margin: 20px auto 0;
  position: relative;
}


/* Estilos para el footer */
footer {
  background-color: #1f2937; /* Más coherente con tu esquema */
  color: var(--background-color);
  text-align: center;
  padding: 90px 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: sticky;
  bottom: 0;
  z-index: 1;

}

footer p {
  margin: 0;
  font-size: clamp(0.9375rem, 0.5469rem + 1.25vw, 1.25rem);
  font-weight: 400;
}

.footer-links {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  
}

.footer-links a {
  color: #f2c119;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  cursor: pointer;
  font-size: clamp(1rem, 0.8621rem + 0.6897vw, 1.25rem);  
  
}

.footer-links a:hover {
  transition: all 0.2s ease-in-out;
  color: #ffffff;
}

.ripple {
  position: absolute;
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  transform: scale(0);
  animation: ripple-animation 0.6s linear;
  pointer-events: none;
  z-index: 3;
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

@media (max-width: 1100px) {

  .i_am img {
    width: 30%;
    height: auto;
  }
  #nav-list li a i{
    display: none;
  }
  #theme-toggle i {
    display: inline-block; 
  }

  .pro_3-3 {
    width: 100%;
    flex-direction: column;
  }
  .proye{
    width: auto;
  }
}
/* Estilo responsivo */
@media (max-width: 900px) {

  header .logo p {
    font-size: 25px;
    font-weight: bold;
  }
  header .logo {
    padding: 0;
    font-size: 17px;
    left: 30px;
  }

  nav ul {
    flex-direction: row; /* Cambia a columna en pantallas pequeñas */
    gap: 10px; /* Espacio entre los elementos */
    padding: 15px;
  }

  .i_am {
    flex-direction: column; /* Cambia a columna en pantallas pequeñas */
    padding: 0px 20px; /* Espacio superior e inferior */
  }
  .i_am img {
    width: 25%; /* Imagen ocupa el 100% del ancho */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-right: 0; /* Elimina el margen derecho */
  }
  #experience,
  #skills,
  #proyectos,
  #edu,
  #lenguaje,
  #tech {
    margin: 20px;
    padding: 0px 0px 45px; /* Espacio superior e inferior */
  }

  .skill_3-3 {
    flex-wrap: wrap; 
    margin: 0px 0px 45px; /* Espacio superior e inferior */
  }

  .proye{
    margin: 40px 20px 40px 20px;
  }
    .idioma_2_2 {
    gap: 0;
  }
  #theme-toggle {
    display: block; 
  }
}

/* Estilo para pantallas pequeñas (700px) */
@media (max-width: 750px) {
  
  .i_am_text {
    padding: 0 20px; /* Espacio superior e inferior */
    margin: 0;
    text-align: center; /* Centra el texto */
  }
  .welcome {
    padding: 10px;
    margin: 10px;
  }
  /* Ajuste de botones */
  .welcome .btn {
    width: 40%; /* Botón ocupa el 100% en pantallas más pequeñas */
    padding: 12px 0;
  }

  .btn-container {
    width: 100%;
    margin-top: 15px;
  }
  header {
    padding: 15px 20px; /* Espacio interno */
  }

  header .logo {
    left: 20px; /* Asegura que el logo esté a la izquierda */
    position: absolute; /* Fija el logo */
  }

  header.with-shadow {
    padding: 15px 20px; /* Espacio interno */
  }

  /* Mostrar ícono hamburguesa */
  .menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
    z-index: 1001;
  }

  .menu-toggle span {
    display: block;
    height: 3px;
    background: var(--text-color);
    border-radius: 2px;
    transition: all 0.3s ease;
  }

  /* Animación de la X */
  .menu-toggle.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .menu-toggle.active span:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  /* Estilo del menú desplegable */
  #nav-list {
    position: absolute;
    top: 50px;
    left: 0;
    gap: 0;
    width: 100%;
    height: auto;
    background-color: white;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 999;

    /* Oculto con animación */
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
  }

  /* Activación del menú */
  #nav-list.visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  #nav-list li {
    margin: 10px 0;
  }

  #nav-list li a {
    font-size: 18px;
  }

  .line_time {
    display: none;
  }
  .mini_nav {
    flex-direction: column; /* Cambia a columna en pantallas pequeñas */
    padding: 0 20px; /* Espacio superior e inferior */
    margin: 0;
    text-align: center; /* Centra el texto */
  }

  .mini_nav h4 {
    line-height: 1.1;
    align-content: center;
    margin-bottom: 10px;
    padding: 0; /* Espacio interno */
  }
  .mini_nav .date_school,
  .date_work {
    padding: 0;
  }
  .work ul,
  .school p {
    font-size: 16px; /* Tamaño de fuente más pequeño */
    line-height: 1.5;
  }
}

@media screen and (max-width: 501px) {
  .i_am {
    flex-direction: column; /* Cambia a columna en pantallas pequeñas */
    padding: 0px 20px; /* Espacio superior e inferior */
  }

  .i_am img {
    width: 35%; /* Imagen ocupa el 100% del ancho */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-right: 0; /* Elimina el margen derecho */
  }

  .i_am_text .saludo {
    margin-top: 25px;
  }
  .i_am_text .name {
    height: 60px;
  }
  .i_am_text .saludo,
  .i_am_text .name {
    font-size: 30px; /* Tamaño de fuente más pequeño */
    line-height: 1.2;
    padding-left: 0px; /* Espacio interno */
    text-align: center; /* Centra el texto */
  }
  .i_am_text .description {
    font-size: 13px; /* Tamaño de fuente más pequeño */
    line-height: 1.6;
    padding: 0 20px; /* Espacio interno */
    text-align: center; /* Centra el texto */
    margin-top: 20px; /* Espacio superior */
  }

  .welcome p {
    justify-content: center;
  }

  .social_icons ul {
    flex-direction: row; /* Iconos sociales en columna */
    gap: 15px;
  }

  .welcome .btn {
    width: 50%; /* Botón ocupa el 100% en pantallas más pequeñas */
    align-items: center;
    margin: 20px 0 0 0;
  }

  .work,
  .school {
    margin: 0 10px 0 10px;
    flex-direction: column; 
  }

  .work h3,
  .school h3 {
    align-self: center;
    text-align: center;
  }

  .mini_nav h2 {
    height: 45px;
    margin-top: 10px;
    width: 100%;
  }
  .mini_nav h4 {
    margin: 0;
  }
  .date_school,
  .date_work {
    padding: 0; /* Espacio interno */
    margin: 5px;
  }

  .school i,
  .work i {
    display: none;
  }


  .school p,
  .work ul,
  .skill p {
    padding: 10px 10px 0 10px;
    text-align: center;
    font-size: 14.5px; /* Tamaño de fuente más pequeño */
    line-height: 1.5;
    list-style: none;
  }

  #edu,
  #experience,
  #lenguaje,
  #skills,
  #proyectos,
  #tech {
    padding: 24px; /* Espacio superior e inferior */
  }
  .text-cont {
    padding: 0;
  }
  .skill_3-3, .pro_3-3 {
    width: 100%;
    padding: 20px 0px 25px; /* Espacio superior e inferior */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan */
    justify-content: center;
  }

  .skill, .proye {
    width: 100%;
  }

  .skill_3-3 .skill p {
    text-align: center; /* Centra el texto */
  }

  .mini_nav_skill {
    padding: 0; /* Espacio superior e inferior */
    margin: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .mini_nav_skill h2 {
    font-size: 15.5px; /* Tamaño de fuente más pequeño */
    line-height: 1.5;
    text-align: center; /* Centra el texto */
  }

  .tech-bars {
    gap: 0;
  }
  .tech {
    margin: 5px;
  }
  .tech h3 {
    width: 50%;
    align-self: center;
  }
    .idioma_2_2 {
    gap: 15px;
    padding: 10px;
  }

  .idioma {
    margin: 0;
    padding: 15px;
    gap: 5px;
  }
}
@media screen and (max-width: 376px) {
  .i_am_text .description {
    font-size: 13px;
  }
  .i_am .name {
    height: 60px;
    margin-bottom: 35px;
  }
  .welcome {
    padding: 0;
    margin-top: 50px;
  }
  .work,
  .school {
    margin: 0 5px 0 5px;
    padding: 5px;
    width: 100%;
    flex-direction: column; /* Cambia a columna en pantallas pequeñas */
    box-shadow: var(--shadow-color) 0 0 2px;
    border-radius: 15px; /* Bordes redondeados */
  }
  .mini_nav {
    padding: 0; /* Espacio superior e inferior */
  }
  .mini_nav h4 {
    height: 50px;
  }
  .idioma_2_2 {
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .i_am .name{
    height: 80px;
  }
  .name {
    height: 50px;
  }
  .work li,
  .school li {
    font-size: 13px; /* Tamaño de fuente más pequeño */
    margin: 0;
    padding: 0;
  }
  .welcome {
    padding: 0px;
  }
  .idioma_2_2 {
    padding-top: 15px;
  }
  .idioma {
    text-align: center;
  }
  .tech {
    width: 100%;
    margin: 3px;
    padding: 10px;
  }
  .tech h3 {
    width: 30%;
  }
}
